@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300&family=Sono:wght@200&display=swap');

body {
  background-color: #effaf5;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: black;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 100px;
  box-shadow: 3px 3px 10px 0px #000;
  border-radius: 10px;
  width: 70vw;
  height: 550px;
  background-color: #effaf5;
}
.text-judul {
  font-weight: bold;
  font-size: 30px;
}
.form-control {
  font-size: 12px;
}
.text-login {
  text-decoration: none;
}
.text-merah {
  color: rgb(245, 18, 18);
  font-weight: bold;
}
